<div class="col-lg-4 f-green-big">

  <div class="f-green" style="text-align:left">

    <div class="f-green-sec">
      <div class="d-flex justify-content-between">
        <b>Hi,</b>
        <a href="/profile">your profile</a>
      </div>
      <hr class="f-green-hr">
      <div>
        <img class="f-pp" src="/images/<%= user.image %>" alt="">
        <p class="f-gUsername" style="display: inline-block;"> <%= user.nick %> </p>
      </div>
    </div><br>


    <div>
      <b>Currently</b>
      <hr class="f-green-hr">
      <a class="l-green-id" href="/users/<%= user.user %>">@<%= user.user %> </a>
      <p class="l-green-last-tweet" style="display: inline-block;"> <%= user.lastTweet %> </p>
    </div><br>


    <div class="f-green-sec">
      <div class="d-flex justify-content-between">
        <b>Device updates</b>
        <a href="#">add device</a>
      </div>
      <hr class="f-green-hr">
      <div>
        <input type="radio" name="" value=""><span> phone</span> <br>
        <input type="radio" name="" value=""><span> web only</span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Stats</b>
      <hr class="f-green-hr">
      <div class="d-flex justify-content-between">
        <a class="stats-link" href="/users/<%= user.user %>/followings">Following</a>
        <span> <%= user.following.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a class="stats-link" href="/users/<%= user.user %>/followers">Followers</a>
        <span> <%= user.followers.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a class="stats-link" href="/users/<%= user.user %>/favorites">Favorites</a>
        <span> <%= user.favorites.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a class="stats-link" href="/users/<%= user.user %>/updates">Updates</a>
        <span> <%= user.updates.length %> </span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Following</b>
      <hr class="f-green-hr">

      <% user.followingImages.forEach(function(image){ %>
        <img src="\images\<%= image %>" alt="" class="f-small-pp">
      <% }); %>

    </div>
  </div>
</div>
