<div class="col-lg-4 f-green-big">

  <div class="f-green" style="text-align:left">

    <div class="f-green-sec">
      <div class="d-flex justify-content-between">
        <b>Hi,</b>
        <a href="/profile">your profile</a>
      </div>
      <hr class="f-green-hr">
      <div>
        <img class="f-pp" src="images/<%= currentUser.image %>" alt="">
        <p class="f-gUsername" style="display: inline-block;"> <%= currentUser.nick %> </p>
      </div>
    </div><br>


    <div>
      <b>Currently</b>
      <hr class="f-green-hr">
      <a class="l-green-id" href="/user/<%= currentUser.user %>">@<%= currentUser.user %> </a>
      <p class="l-green-last-tweet" style="display: inline-block;"> <%= currentUser.lastTweet %> </p>
    </div><br>


    <div class="f-green-sec">
      <div class="d-flex justify-content-between">
        <b>Device updates</b>
        <a href="#">add device</a>
      </div>
      <hr class="f-green-hr">
      <div>
        <input type="radio" name="" value=""><span> phone</span> <br>
        <input type="radio" name="" value=""><span> web only</span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Stats</b>
      <hr class="f-green-hr">
      <div class="d-flex justify-content-between">
        <form class="" action="/followings" method="post">
          <input type="hidden" name="userID" value="<%= currentUser._id %>">
          <button class="hidden-button" type="submit" name="button"><span class="stats-link" href="">Following</span></button>
        </form>
        <span> <%= currentUser.following.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <form class="" action="/followers" method="post">
          <input type="hidden" name="userID" value="<%= currentUser._id %>">
          <button class="hidden-button" type="submit" name="button"><span class="stats-link" href="">Followers</span></button>
        </form>
        <span> <%= currentUser.followers.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <form class="" action="/favorites" method="post">
          <input type="hidden" name="userID" value="<%= currentUser._id %>">
          <button class="hidden-button" type="submit" name="button"><span class="stats-link" href="">Favorites</span></button>
        </form>
        <span> <%= currentUser.favorites.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a class="stats-link" href="/user/<%= currentUser.user %>">Updates</a>
        <span> <%= currentUser.updates.length %> </span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Following</b>
      <hr class="f-green-hr">

      <% currentUser.followingImages.forEach(function(image){ %>
        <img src="images\<%= image %>" alt="" class="f-small-pp">
      <% }); %>

    </div>
  </div>
</div>
