<%- include('partials/header'); -%>

<div class="col-lg-8 f-feed" style="background-color: white; text-align: center;">
  <div class="d-flex justify-content-between">
    <h3>What are you doing?</h3>
    <h2 class="140">140</h2>
  </div>

  <form class="" action="/tweet" method="post">
    <input type="hidden" name="userID" value="<%=currentUser._id%>">
    <textarea class="form-control" id="tweet" name="tweetText" rows="3" maxlength="140" style="resize: none;"></textarea>
    <button type="submit" name="update">update</button>
  </form>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#recent" type="button" role="tab" aria-controls="home" aria-selected="true">Recent</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="profile-tab" data-bs-toggle="tab" data-bs-target="#replies" type="button" role="tab" aria-controls="profile" aria-selected="false">Replies</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="contact-tab" data-bs-toggle="tab" data-bs-target="#archieve" type="button" role="tab" aria-controls="contact" aria-selected="false">Archieve</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#everyone" type="button" role="tab" aria-controls="contact" aria-selected="false">Everyone</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- Recent tab, tweets from self and followed ones -->
    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">

      <%if(recents){%>
      <%recents.slice().reverse().forEach(function(recent){%>
      <div class="container-fluid f-tweet-box">
        <img class="f-tweet-pp" src="/images/<%= recent.img %>" alt="">

        <div class="col-9 f-tweet-content">

          <a href="/user/<%= recent.tweeter %>" class="f-tweet-author"><b> <%= recent.tweeter %></b></a>
          <span class="f-tweet-text"> <%= recent.text %> </span>
          <span class="f-tweet-date"> <%= recent.date %> </span>

          <% if(recent.author == currentUser._id){ // if user's tweet %>
          <form class="" action="/delete" method="post" style="display: inline-block">
            <input type="hidden" name="tweetID" value="<%= recent._id %>">
            <input type="hidden" name="authorID" value="<%= recent.author %>">
            <input type="hidden" name="page" value="<%= "feed" %>">
            <button type="submit" name="button" class="delete-button">
              <i class="far fa-trash-alt f-del"></i>
            </button>
          </form>
          <% } %>

          <% if(recent.likes.includes(currentUser._id)){ // if faved %>
          <form class="" action="/unfav" method="post" style="display: inline-block">
            <input type="hidden" name="tweetID" value="<%= recent._id %>">
            <input type="hidden" name="userID" value="<%= currentUser._id %>">
            <input type="hidden" name="page" value="<%= "feed" %>">
            <button type="submit" name="button" class="delete-button">
              <i class="fas fa-star f-faved"></i>
            </button>
          </form>
          <% } else { // if unfaved %>
          <form class="" action="/fav" method="post" style="display: inline-block">
            <input type="hidden" name="tweetID" value="<%= recent._id %>">
            <input type="hidden" name="userID" value="<%= currentUser._id %>">
            <button type="submit" name="button" class="delete-button">
              <i class="far fa-star f-unfaved"></i>
            </button>
          </form>
          <% } %>
          <% if ( recent.likes.length > 0 ) { %>
          <span><%= recent.likes.length %></span>
          <% } %>

        </div>
        <hr class="f-tweet-hr">
      </div>
      <%});%>
      <%}%>

  </div>

  <div class="tab-pane fade" id="replies" role="tabpanel" aria-labelledby="replies-tab">...</div>
  <div class="tab-pane fade" id="archieve" role="tabpanel" aria-labelledby="archieve-tab">...</div>

  <!-- Everyone tab, tweets from everyone -->
  <div class="tab-pane fade" id="everyone" role="tabpanel" aria-labelledby="everyone-tab">

    <%if(everyones){%>
      <%everyones.slice().reverse().forEach(function(everyone){%>
      <div class="container-fluid f-tweet-box">
        <img class="f-tweet-pp" src="/images/<%= everyone.img %>" alt="">

        <div class="col-9 f-tweet-content">

          <a href="/user/<%= everyone.tweeter %>" class="f-tweet-author"><b> <%= everyone.tweeter %></b></a>
          <span class="f-tweet-text"> <%= everyone.text %> </span>
          <span class="f-tweet-date"> <%= everyone.date %> </span>

          <% if(everyone.author == currentUser._id){ // if user's tweet %>
          <form class="" action="/delete" method="post" style="display: inline-block">
            <input type="hidden" name="tweetID" value="<%= everyone._id %>">
            <input type="hidden" name="authorID" value="<%= everyone.author %>">
            <input type="hidden" name="page" value="<%= "feed" %>">
            <button type="submit" name="button" class="delete-button">
              <i class="far fa-trash-alt f-del"></i>
            </button>
          </form>
          <% } %>

          <% if(everyone.likes.includes(currentUser._id)){ // if faved %>
          <form class="" action="/unfav" method="post" style="display: inline-block">
            <input type="hidden" name="tweetID" value="<%= everyone._id %>">
            <input type="hidden" name="userID" value="<%= currentUser._id %>">
            <input type="hidden" name="page" value="<%= "feed" %>">
            <button type="submit" name="button" class="delete-button">
              <i class="fas fa-star f-faved"></i>
            </button>
          </form>
          <% } else { // if unfaved %>
          <form class="" action="/fav" method="post" style="display: inline-block">

            <input type="hidden" name="tweetID" value="<%= everyone._id %>">
            <input type="hidden" name="userID" value="<%= currentUser._id %>">
            <button type="submit" name="button" class="delete-button">
              <i class="far fa-star f-unfaved"></i>
            </button>
          </form>
          <% } %>
          <% if ( everyone.likes.length > 0 ) { %>
          <span><%= everyone.likes.length %></span>
          <% } %>

        </div>
        <hr class="f-tweet-hr">
      </div>
      <%});%>
      <%}%>

  </div>
</div>

</div>
<div class="col-lg-4 f-green-big">

  <div class="f-green" style="text-align:left">

    <div class="f-green-sec">
      <div class="d-flex justify-content-between">
        <b>Hi,</b>
        <a href="/profile">your profile</a>
      </div>
      <hr class="f-green-hr">
      <div>
        <img class="f-pp" src="images/<%= currentUser.image %>" alt="">
      <p class="f-gUsername" style="display: inline-block;"> <%= currentUser.nick %> </p>
    </div>
  </div><br>


  <div>
    <b>Currently</b>
    <hr class="f-green-hr">
    <a class="l-green-id" href="/user/<%= currentUser.user %>">@<%= currentUser.user %> </a>
    <p class="l-green-last-tweet" style="display: inline-block;"> <%= lastTweet.text %> </p>
  </div><br>


  <div class="f-green-sec">
    <div class="d-flex justify-content-between">
      <b>Device updates</b>
      <a href="#">add device</a>
    </div>
    <hr class="f-green-hr">
    <div>
      <input type="radio" name="" value=""><span> phone</span> <br>
      <input type="radio" name="" value=""><span> web only</span>
    </div>
  </div><br>

  <div class="f-green-sec">
    <b>Stats</b>
    <hr class="f-green-hr">
    <div class="d-flex justify-content-between">
      <a href="#">Following</a>
      <span> <%= currentUser.following.length %> </span>
    </div>
    <div class="d-flex justify-content-between">
      <a href="#">Followers</a>
      <span> <%= currentUser.followers.length %> </span>
    </div>
    <div class="d-flex justify-content-between">
      <a href="#">Favorites</a>
      <span> <%= currentUser.favorites.length %> </span>
    </div>
    <div class="d-flex justify-content-between">
      <a href="#">Updates</a>
      <span> <%= currentUser.updates.length %> </span>
    </div>
  </div><br>

  <div class="f-green-sec">
    <b>Following</b>
    <hr class="f-green-hr">
    <img src="images\5.png" alt="" class="f-small-pp">
  </div>

</div>
</div>

<%- include('partials/footer'); -%>
