<%- include('partials/header'); -%>

<div class="col-lg-8 f-feed" style="background-color: white; text-align: center;">
  
  <%- include('partials/flash'); -%>

  <div class="d-flex justify-content-between">
    <h3 class="f-title">What are you doing?</h3>
    <h2 class="f-140">140</h2>
  </div>

  <form class="" action="/tweets" method="post">
    <textarea class="form-control" id="tweet" name="tweet" rows="3" maxlength="140" style="resize: none;"></textarea>
    <button type="submit" name="update" class="f-update" >update</button>
  </form>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#recent" type="button" role="tab" aria-controls="home" aria-selected="true">Recent</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="profile-tab" data-bs-toggle="tab" data-bs-target="#replies" type="button" role="tab" aria-controls="profile" aria-selected="false">Replies</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="contact-tab" data-bs-toggle="tab" data-bs-target="#archieve" type="button" role="tab" aria-controls="contact" aria-selected="false">Archieve</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#everyone" type="button" role="tab" aria-controls="contact" aria-selected="false">Everyone</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- Recent tab, tweets from self and followed ones -->
    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">

      <%if(recents){%>
      <%recents.slice().forEach(function(recent){%>
        <div class="container-fluid f-tweet-box">
          <img class="f-tweet-pp" src="/images/<%= recent.img %>" alt="">
    
          <div class="col-9 f-tweet-content">
    
            <a href="/users/<%= recent.tweeter %>" class="f-tweet-author"><b> <%= recent.tweeter %></b></a>
            <span class="f-tweet-text"> <%= recent.tweet %> </span>
            <span class="f-tweet-date"> <%= recent.date.toLocaleString() %> </span>
    
            <% if(recent.tweeter === user.user){ %>
            <form class="" action="/tweets/<%= recent._id %>/delete" method="get" style="display: inline-block">
              <button type="submit" name="button" class="hidden-button">
                <i class="far fa-trash-alt f-del"></i>
              </button>
            </form>
            <% } %>

            <a href="/tweets/<%=recent._id%>"><i class="fas fa-reply f-reply"></i></a>
    
            <% if(recent.likes.includes(user._id)){ // if faved %>
            <form class="" action="/tweets/<%= recent._id %>/unfav" method="get" style="display: inline-block">
              <button type="submit" name="button" class="hidden-button">
                <i class="fas fa-star f-faved"></i>
              </button>
            </form>
            <% } else { // if unfaved %>
            <form class="" action="/tweets/<%= recent._id %>/fav" method="get" style="display: inline-block">
              <button type="submit" name="button" class="hidden-button">
                <i class="far fa-star f-unfaved"></i>
              </button>
            </form>
            <% } %>
            <% if ( recent.likes.length > 0 ) { %>
            <span><%= recent.likes.length %></span>
            <% } %>
    
          </div>
          <hr class="f-tweet-hr">
        </div>
      <%});%>
      <%}%>

    </div>

    <div class="tab-pane fade" id="replies" role="tabpanel" aria-labelledby="replies-tab">...</div>
    <div class="tab-pane fade" id="archieve" role="tabpanel" aria-labelledby="archieve-tab">...</div>

    <!-- Everyone tab, tweets from everyone -->
    <div class="tab-pane fade" id="everyone" role="tabpanel" aria-labelledby="everyone-tab">

      <%if(everyones){%>
        <%everyones.slice().forEach(function(everyone){%>
          <div class="container-fluid f-tweet-box">
            <img class="f-tweet-pp" src="/images/<%= everyone.img %>" alt="">
      
            <div class="col-9 f-tweet-content">
      
              <a href="/users/<%= everyone.tweeter %>" class="f-tweet-author"><b> <%= everyone.tweeter %></b></a>
              <span class="f-tweet-text"> <%= everyone.tweet %> </span>
              <span class="f-tweet-date"> <%= everyone.date.toLocaleString() %> </span>
      
              <% if(everyone.tweeter === user.user){ %>
              <form class="" action="/tweets/<%= everyone._id %>/delete" method="get" style="display: inline-block">
                <button type="submit" name="button" class="hidden-button">
                  <i class="far fa-trash-alt f-del"></i>
                </button>
              </form>
              <% } %>

              <a href="/tweets/<%=everyone._id%>"><i class="fas fa-reply f-reply"></i></a>
      
              <% if(everyone.likes.includes(user._id)){ // if faved %>
              <form class="" action="/tweets/<%= everyone._id %>/unfav" method="get" style="display: inline-block">
                <button type="submit" name="button" class="hidden-button">
                  <i class="fas fa-star f-faved"></i>
                </button>
              </form>
              <% } else { // if unfaved %>
              <form class="" action="/tweets/<%= everyone._id %>/fav" method="get" style="display: inline-block">
                <button type="submit" name="button" class="hidden-button">
                  <i class="far fa-star f-unfaved"></i>
                </button>
              </form>
              <% } %>
              <% if ( everyone.likes.length > 0 ) { %>
              <span><%= everyone.likes.length %></span>
              <% } %>
      
            </div>
            <hr class="f-tweet-hr">
          </div>
        <%});%>
      <%};%>

    </div>
  </div>

</div>

<%- include('partials/sidebar'); -%>

<%- include('partials/footer'); -%>
