<%- include('partials/header'); -%>

<div class="col-lg-8 f-feed" style="background-color: white; text-align: center;">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home">Users</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile">Updates</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <!-- Users tab for search results -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%if(users.length > 0){%>
      <%users.slice().reverse().forEach(function(user){%>
      <div class="container-fluid s-user-box">
        <img class="f-tweet-pp" src="/images/<%= user.imgage %>" alt="">
        <div class="p-last-tweet-top">
          <img class="f-tweet-pp" src="/images/<%= user.image %>" alt="">
          <div class="s-user">
            <a href="/users/<%= user.user %>" class="s-user-name"><b> @<%= user.user %></b></a>
            <span href="" class="s-nick-name"><b> <%= user.nick %></b></span>
          </div>
        </div>
        <p>Followers: <%= user.followers.length %>, Following: <%= user.following.length %>, Updates: <%= user.updates.length %></p>
        <hr class="f-tweet-hr">
      </div>
      <%});%>
      <%} else { %>
      <h3 class="s-no-found">No users found.</h3>
      <%}%>
    </div>

    <!-- Tweets tab for search results -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%if(tweets.length > 0){%>
        <%tweets.slice().reverse().forEach(function(tweet){%>
          <div class="container-fluid f-tweet-box">
            <img class="f-tweet-pp" src="/images/<%= tweet.img %>" alt="">
            <div class="col-9 f-tweet-content">
              <a href="/users/<%= tweets.tweeter %>" class="f-tweet-author"><b> <%= tweet.tweeter %></b></a>
              <span class="f-tweet-text"> <%= tweet.tweet %> </span>
              <span class="f-tweet-date"> <%= tweet.date.toLocaleString() %> </span>
              <% if(tweet.tweeter === user.user){ %>
                <form class="" action="/tweets/<%= tweet._id %>/delete" method="get" style="display: inline-block">
                  <button type="submit" name="button" class="hidden-button">
                    <i class="far fa-trash-alt f-del"></i>
                  </button>
                </form>
              <% } %>
              <a href="/tweets/<%=tweet._id%>"><i class="fas fa-reply f-reply"></i></a>
              <% if(tweet.likes.includes(user._id)){ // if faved %>
                <form class="" action="/tweets/<%= tweet._id %>/unfav" method="get" style="display: inline-block">
                  <button type="submit" name="button" class="hidden-button">
                    <i class="fas fa-star f-faved"></i>
                  </button>
                </form>
              <% } else { // if unfaved %>
                <form class="" action="/tweets/<%= tweet._id %>/fav" method="get" style="display: inline-block">
                  <button type="submit" name="button" class="hidden-button">
                    <i class="far fa-star f-unfaved"></i>
                  </button>
                </form>
              <% } %>
              <% if ( tweet.likes.length > 0 ) { %>
                <span><%= tweet.likes.length %></span>
              <% } %>
            </div>
            <hr class="f-tweet-hr">
          </div>
        <%});%>
      <%} else if(tweets.length == 0){%>
      <h3 class="s-no-found"> No updates found. </h3>
      <%};%>
    </div>

  </div>

</div>

<%- include('partials/sidebar'); %>

<%- include('partials/footer'); %>
