<%- include('partials/header'); -%>

<div class="col-lg-8 p-main" style="background-color: white; text-align: center;">

  <%- include('partials/flash'); -%>
  
  <div class="container-fluid p-last-tweet-box">

    <!-- PROFILE PIC AND NAME -->
    <div class="p-last-tweet-top">
      <img class="f-tweet-pp" src="/images/<%= user.image %>" alt="">
      <span href="" class="p-last-tweet-author disabled"> <%= user.user %> </span>
    </div>

    <!-- FOLLOW / UNFOLLOW BUTTON -->
    <% if ( sessionUser.user !== user.user ) { %>
    <% if ( user.followers.includes(sessionUser._id) ) { %>
    <form class="" action="/users/<%= user.user %>/unfollow" method="get">
      <button class="follow-button" type="submit" name="button">Unfollow</button>
    </form>
    <% } else { %>
    <form class="" action="/users/<%= user.user %>/follow" method="get">
      <button class="follow-button" type="submit" name="button">Follow</button>
    </form>
    <% } %>
    <% } %>

    <!-- LAST TWEET -->
    <% if (tweets.length !==0) { %>
    <p class="p-last-tweet-text p-p"> <%= (tweets.length !== 0) ? tweets[tweets.length-1].tweet : "Not updated yed." %> </p>
    <p class="p-last-tweet-date p-p" style="display:inline-block"> <%= (tweets.length !== 0) ? tweets[tweets.length-1].date.toLocaleString() : "" %> </p>

    <% if (sessionUser.user == tweets[0].tweeter) { %>
    <!-- TWEET DELETE BUTTON -->
    <form class="" action="/tweets/<%= tweets[tweets.length-1]._id %>/delete" method="get" style="display: inline-block">
      <button type="submit" name="button" class="hidden-button">
        <i class="far fa-trash-alt f-del"></i>
      </button>
    </form>
    <% } %>

    <a href="/tweets/<%=tweets[tweets.length-1]._id%>"><i class="fas fa-reply f-reply"></i></a>

    <% if(tweets[tweets.length-1].likes.includes(sessionUser._id)){ // if faved %>
      <form class="" action="/tweets/<%= tweets[tweets.length-1]._id %>/unfav" method="get" style="display: inline-block">
        <button type="submit" name="button" class="hidden-button">
          <i class="fas fa-star f-faved"></i>
        </button>
      </form>
      <% } else { // if unfaved %>
      <form class="" action="/tweets/<%= tweets[tweets.length-1]._id %>/fav" method="get" style="display: inline-block">
        <button type="submit" name="button" class="hidden-button">
          <i class="far fa-star f-unfaved"></i>
        </button>
      </form>
    <% } %>

    <% if ( tweets[tweets.length-1].likes.length > 0 ) { %>
    <span><%= tweets[tweets.length-1].likes.length %></span>
    <% } %>

    <% } %>
  </div>

  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Previous</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">With Others</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active f-tweets" id="home" role="tabpanel" aria-labelledby="home-tab">

      <% if (tweets.length != 0) { %>
      <% for (let i=tweets.length-2; 0<=i; i--) { %>
      <div class="container-fluid f-tweet-box">
        <div class="f-tweet-content">
          <span class="p-tweet-text"><%= tweets[i].tweet %> </span>
          <span class="p-tweet-date"><%= tweets[i].date.toLocaleString() %> </span>

          <% if (sessionUser.user == tweets[i].tweeter) { %>
          <form class="" action="/tweets/<%= tweets[i]._id %>/delete" method="get" style="display: inline-block">
            <button type="submit" name="button" class="hidden-button">
              <i class="far fa-trash-alt f-del"></i>
            </button>
          </form>
          <% } %>

          <a href="/tweets/<%=tweets[i]._id%>"><i class="fas fa-reply f-reply"></i></a>

          <% if(tweets[i].likes.includes(sessionUser._id)){ // if faved %>
          <form class="" action="/tweets/<%= tweets[i]._id %>/unfav" method="get" style="display: inline-block">
            <button type="submit" name="button" class="hidden-button">
              <i class="fas fa-star f-faved"></i>
            </button>
          </form>
          <% } else { // if unfaved %>
          <form class="" action="/tweets/<%= tweets[i]._id %>/fav" method="get" style="display: inline-block">
            <button type="submit" name="button" class="hidden-button">
              <i class="far fa-star f-unfaved"></i>
            </button>
          </form>
          <% } %>
          <% if ( tweets[i].likes.length > 0 ) { %>
          <span><%= tweets[i].likes.length %></span>
          <% } %>

        </div>
        <hr class="f-tweet-hr">
      </div>
      
      <% } %>
      <% }; %>

    </div>
  </div>

</div>
<div class="col-lg-4 f-green-big">

  <div class="f-green" style="text-align:left">

    <div class="f-green-sec">
      <b>About</b>
      <hr class="f-green-hr">
      <div>
        <p class="f-gUsername p-p"><b>Name </b> <%= user.nick %> </p>
        <p class="f-gUsername p-p"><b>Bio </b> - </p>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Stats</b>
      <hr class="f-green-hr">
      <div class="d-flex justify-content-between">
        <form class="" action="/users/<%= user.user %>/followings" method="get">
          <button class="hidden-button" type="submit" name="button"><span class="stats-link" href="">Following</span></button>
        </form>
        <span> <%= user.following.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <form class="" action="/users/<%= user.user %>/followers" method="get">
          <button class="hidden-button" type="submit" name="button"><span class="stats-link" href="">Followers</span></button>
        </form>
        <span> <%= user.followers.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <form class="" action="/users/<%= user.user %>/favorites" method="get">
          <button class="hidden-button" type="submit" name="button"><span class="stats-link" href="">Favorites</span></button>
        </form>
        <span> <%= user.favorites.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a class="stats-link" href="/users/<%= user.user %>/updates">Updates</a>
        <span> <%= user.updates.length %> </span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Following</b>
      <hr class="f-green-hr">
      <img src="\images\egg.png" alt="" class="f-small-pp">
    </div>

  </div>
</div>


<%- include('partials/footer'); -%>
