<%- include('partials/header'); -%>

<div class="col-lg-8 p-main" style="background-color: white; text-align: center;">

  <div class="container-fluid p-last-tweet-box">
    <div class="p-last-tweet-top">
      <img class="f-tweet-pp" src="/images/<%= user.image %>" alt="">
      <span href="" class="p-last-tweet-author disabled"> <%= user.user %> </span>
    </div>
    <p class="p-last-tweet-text p-p"> <%= (tweets.length !== 0) ? tweets[tweets.length-1].text : "Not updated yed." %> </p>
    <p class="p-last-tweet-date p-p" style="display:inline-block"> <%= (tweets.length !== 0) ? tweets[tweets.length-1].date : "" %> </p>
    <% if (tweets.length !==0) { %>
    <form class="" action="/delete" method="post" style="display: inline-block">
      <input type="hidden" name="tweetID" value="<%= tweets[tweets.length-1]._id %>">
      <input type="hidden" name="authorID" value="<%= tweets[tweets.length-1].author %>">
      <input type="hidden" name="page" value="<%= "profile" %>">
      <button type="submit" name="button" class="delete-button">
        <i class="far fa-trash-alt f-del"></i>
      </button>
    </form>
    <% } %>
  </div>

  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Previous</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">With Others</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active f-tweets" id="home" role="tabpanel" aria-labelledby="home-tab">

      <% if (tweets.length != 0) { %>
        <% for (let i=tweets.length-2; 0<=i; i--) { %>
        <div class="container-fluid f-tweet-box">
          <div class="f-tweet-content">
            <span class="p-tweet-text"><%= tweets[i].text %> </span>
            <span class="p-tweet-date"><%= tweets[i].date %> </span>
            <form class="" action="/delete" method="post" style="display: inline-block">
              <input type="hidden" name="tweetID" value="<%= tweets[i]._id %>">
              <input type="hidden" name="authorID" value="<%= tweets[i].author %>">
              <input type="hidden" name="page" value="<%= "profile" %>">
              <button type="submit" name="button" class="delete-button">
                <i class="far fa-trash-alt f-del"></i>
              </button>
            </form>
          </div>
          <hr class="f-tweet-hr">
        </div>
        <% } %>
      <% }; %>

    </div>
  </div>

</div>
<div class="col-lg-4 f-green-big">

  <div class="f-green" style="text-align:left">

    <div class="f-green-sec">
      <b>About</b>
      <hr class="f-green-hr">
      <div>
        <p class="f-gUsername p-p"><b>Name </b> <%= user.nick %> </p>
        <p class="f-gUsername p-p"><b>Bio </b> - </p>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Stats</b>
      <hr class="f-green-hr">
      <div class="d-flex justify-content-between">
        <a href="#">Following</a>
        <span> <%= user.following.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a href="#">Followers</a>
        <span> <%= user.followers.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a href="#">Favorites</a>
        <span> <%= user.favorites.length %> </span>
      </div>
      <div class="d-flex justify-content-between">
        <a href="#">Updates</a>
        <span> <%= user.updates.length %> </span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Following</b>
      <hr class="f-green-hr">
      <img src="images\egg.png" alt="" class="f-small-pp">
    </div>

  </div>
</div>


<%- include('partials/footer'); -%>
