<%- include('partials/header'); -%>

<div class="col-lg-8 p-main" style="background-color: white; text-align: center;">

  <div class="container-fluid p-last-tweet-box">

    <!-- //////// IF THERE IS A PARENT TWEET //////// -->
    <%if(parent){%>
      <div class="container-fluid f-tweet-box">
        <div class="col-9 f-tweet-content">
  
          <a href="/users/<%= parent.tweeter %>" class="f-tweet-author"><b> <%= parent.tweeter %></b></a>
          <span class="f-tweet-text"> <%= parent.tweet %> </span>
          <span class="f-tweet-date"> <%= parent.date.toLocaleString() %> </span>
  
          <% if(parent.tweeter === user.user){ %>
          <form class="" action="/tweets/<%= parent._id %>/delete" method="get" style="display: inline-block">
            <button type="submit" name="button" class="hidden-button">
              <i class="far fa-trash-alt f-del"></i>
            </button>
          </form>
          <% } %>

          <a href="/tweets/<%=parent._id%>"><i class="fas fa-reply f-reply"></i></a>
  
          <% if(parent.likes.includes(user._id)){ // if faved %>
          <form class="" action="/tweets/<%= parent._id %>/unfav" method="get" style="display: inline-block">
            <button type="submit" name="button" class="hidden-button">
              <i class="fas fa-star f-faved"></i>
            </button>
          </form>
          <% } else { // if unfaved %>
          <form class="" action="/tweets/<%= parent._id %>/fav" method="get" style="display: inline-block">
            <button type="submit" name="button" class="hidden-button">
              <i class="far fa-star f-unfaved"></i>
            </button>
          </form>
          <% } %>
          <% if ( parent.likes.length > 0 ) { %>
          <span><%= parent.likes.length %></span>
          <% } %>
  
        </div>
        <hr class="f-tweet-hr">
      </div>
    <% } %>

    <!-- //////// THE TWEET //////// -->
    <div class="container-fluid f-tweet-box">
      <img class="f-tweet-pp" src="/images/<%= tweet.img %>" alt="">

      <div class="col-9 f-tweet-content">

        <a href="/users/<%= tweet.tweeter %>" class="f-tweet-author"><b> <%= tweet.tweeter %></b></a>
        <span class="f-tweet-text"> <%= tweet.tweet %> </span>
        <span class="f-tweet-date"> <%= tweet.date.toLocaleString() %> </span>

        <% if(tweet.tweeter === user.user){ %>
        <form class="" action="/tweets/<%= tweet._id %>/delete" method="get" style="display: inline-block">
          <button type="submit" name="button" class="hidden-button">
            <i class="far fa-trash-alt f-del"></i>
          </button>
        </form>
        <% } %>

        <% if(tweet.likes.includes(user._id)){ // if faved %>
        <form class="" action="/tweets/<%= tweet._id %>/unfav" method="get" style="display: inline-block">
          <button type="submit" name="button" class="hidden-button">
            <i class="fas fa-star f-faved"></i>
          </button>
        </form>
        <% } else { // if unfaved %>
        <form class="" action="/tweets/<%= tweet._id %>/fav" method="get" style="display: inline-block">
          <button type="submit" name="button" class="hidden-button">
            <i class="far fa-star f-unfaved"></i>
          </button>
        </form>
        <% } %>
        <% if ( tweet.likes.length > 0 ) { %>
        <span><%= tweet.likes.length %></span>
        <% } %>

      </div>
      <hr class="f-tweet-hr">
    </div>

  </div>

  <!-- REPLY SECTION -->
  <div class="d-flex justify-content-between">
    <h4 class="f-title">Reply this update</h4>
    <h3 class="f-140">140</h3>
  </div>
  <form class="" action="/tweets/<%=tweet._id%>/reply" method="post">
    <textarea class="form-control" id="tweet" name="tweet" rows="3" maxlength="140" style="resize: none;"></textarea>
    <button type="submit" name="update" class="f-update">reply</button>
    <hr class="f-tweet-hr">
  </form>

  <!-- CHILD TWEETS -->
  <%if(children){%>
  <%children.forEach(function(child){%>
    <div class="container-fluid f-tweet-box">
      <div class="col-9 f-tweet-content">

        <a href="/users/<%= child.tweeter %>" class="f-tweet-author"><b> <%= child.tweeter %></b></a>
        <span class="f-tweet-text"> <%= child.tweet %> </span>
        <span class="f-tweet-date"> <%= child.date.toLocaleString() %> </span>

        <% if(child.tweeter === user.user){ %>
        <form class="" action="/tweets/<%= child._id %>/delete" method="get" style="display: inline-block">
          <button type="submit" name="button" class="hidden-button">
            <i class="far fa-trash-alt f-del"></i>
          </button>
        </form>
        <% } %>

        <a href="/tweets/<%=child._id%>"><i class="fas fa-reply f-reply"></i></a>

        <% if(child.likes.includes(user._id)){ // if faved %>
        <form class="" action="/tweets/<%= child._id %>/unfav" method="get" style="display: inline-block">
          <button type="submit" name="button" class="hidden-button">
            <i class="fas fa-star f-faved"></i>
          </button>
        </form>
        <% } else { // if unfaved %>
        <form class="" action="/tweets/<%= child._id %>/fav" method="get" style="display: inline-block">
          <button type="submit" name="button" class="hidden-button">
            <i class="far fa-star f-unfaved"></i>
          </button>
        </form>
        <% } %>
        <% if ( child.likes.length > 0 ) { %>
        <span><%= child.likes.length %></span>
        <% } %>

      </div>
      <hr class="f-tweet-hr">
    </div>
  <%});%>
  <%}%>


</div>










<%- include('partials/sidebar'); %>

<%- include('partials/footer'); %>
